

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
   flex-direction: $direction;
}


header{
   @include flexCenter(column);
   height: 100vh;
    color: $textcolor;
    background: $primaryBackground;
    button{
        background: $primaryBtn;
        &:hover{
            background:black;
        }
    }
}