$primaryBtn : orange;
$textcolor: magenta;

header{
    background: blue;
    display: flex;
    justify-content: center;
    color: $textcolor;

    button{
        background: $primaryBtn;
        &:hover{
            background:black;
        }
    }
}


.contact button{
    background: $primaryBtn;
}